<div class="container"
    [ngClass]="{'container-border-left':( orderedListData.orderedListType === 'PRES' ), 'container-border-right': ( orderedListData.orderedListType === 'SUBMIT' ) }">
    <table>
        <tr *ngFor="let element of orderedListData.OrderedListArray">
            <!-- image -->
            <td>
                {{element.menu.imagePath}}
            </td>
            <div class="separator"></div>
            <!-- menu name -->
            <td> {{element.menu.name}} </td>
            <div class="separator"></div>
            <!-- full name -->
            <td> {{ element.client.firstName }} {{ element.client.lastName }} </td>
            <div class="separator"></div>
            <!-- phone number -->
            <td> {{ element.client.phone }} </td>
            <div class="separator"></div>
            <!-- total price -->
            <td> {{ element.totalPrice }} DH</td>
            <div class="separator"></div>
            <!-- detail button -->
            <td>
                <button>edit</button>
            </td>
        </tr>
    </table>
</div>