<div class="container">
    <form (ngSubmit)="onSubmit()" #ngFormAdd="ngForm">
        <div class="image-section">
            <img [src]="imgReaderResult" class="display-image" *ngIf="displayImage">
            <button (click)="onCancel()" class="cancel-image" *ngIf="displayImage"> Cancel </button>
            <label class="label-form__image" *ngIf="!displayImage" > Image </label>
            <input class="input-form__image" *ngIf="!displayImage"  type="file" [(ngModel)]="image" name="image" (change)="onChange($event)">
        </div>
        <div class="meal-detail">
            <label class="label-form"> Name </label>
            <input class="input-form" type="text" [(ngModel)]="menuName" name="menuName">
            <label class="label-form"> Categorie </label>
            <select class="input-form" [(ngModel)]="newMenu.categorie" name="categorie">
                <option *ngFor="let element of categorieArray" [value]="element.name"> {{element.name}} </option>
            </select>
            <label class="label-form"> Price </label>
            <input class="input-form" type="number" [(ngModel)]="price" name="price">
        </div>
        <button> SUBMIT </button>
    </form>
</div>