
    <ul class="list-new-element-container">
        <!-- <li *ngFor="let element of newMenuArray"> -->
        <li class="new-element">
            <div class="new-element__image">
                image
            </div>
            <div class="separator"></div>
            <div class="new-element__name">
                name
            </div>
            <div class="separator"></div>
            <div class="new-element__categorie">
                categorie
            </div>
            <div class="separator"></div>
            <div class="new-element__price">
                price
            </div>
            <div class="separator"></div>
            <div class="new-element__btnEdit">
                editBTN
            </div>
        </li>
    </ul>