.list-new-element-container{
    position: absolute;
    padding: 0px;
}

.new-element{
    list-style: none;
    width: 789px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 30px;
    box-shadow: 3px 1px 6px 0px grey;
    margin: 20px 0px;
}

.new-element__image,
.new-element__name,
.new-element__categorie,
.new-element__price,
.new-element__btnEdit{
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    font-family: "Arimo", sans-serif;
    font-size: 120%;
}

.new-element__name,
.new-element__categorie,
.new-element__price,
.new-element__btnEdit{
    border-left: 1px solid grey;
}

.new-element__name{
    width: 307px;
}

.new-element__btnEdit{
    width: 10%;
    height: 60px;
    background-color: orange;
    border-top-right-radius: 29px;
    border-bottom-right-radius: 29px;
    outline: none;
    border: none;
}

.new-element__btnEdit:hover,
.new-element__btnEdit:active{
    cursor: pointer;
    background-color: rgb(221, 145, 3);
}

.new-element__categorie,
.new-element__price{
    width: 100px;
}

.new-element__image{
    width: 80px;
    padding: 0px;
}

.new-element__image-element{
    width: 80px;
    height: 60px;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
}