.list-menu-containt {
  margin: 50px 0px;
  width: 100%;
  position: relative;
}

.separator {
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: 10%;
  border: 2px solid #025c00;
  border-radius: 50px;
}

.list-menu{
    position: relative;
    left: 10%;
    right: 10%;
    bottom: 50%;
    height: 502px;
    width: 100%;
    max-width: 502px;
}

.new-menu-description{
    position: relative;
    left: 40%;
    right: 10%;
    width: 50%;
    max-width: 502px;
}

.separator,
.list-menu,
.new-menu-description{
    display: inline-block;
}