.header-block{
    background-image: url('../../assets/images/image-Title.jpg');
    text-align: center;
}

.header-block > h1{
    font-family: 'Arimo', sans-serif;
    font-size: 300%;
    padding: 100px;
    margin: 0px;
    color: white;
}