<div class="head-block">
    <p class="head-block__title"> MORE THAN <strong>20,000 DISHES</strong> TO ORDER! </p>
    <p class="head-block__sub-title"> Welcome to your favorite restaurent! </p>
</div>
<div class="body-block">
    <ul class="body-block__items">
        <li class="body-block__item" >
            <img src="../../../../assets/images/pizza.jpg">
            <p>Pizza</p>
        </li>
        <li class="body-block__item" >
            <img src="../../../../assets/images/plats.jpg">
            <p>Plats</p>
        </li>
        <li class="body-block__item" >
            <img src="../../../../assets/images/sushi.jpg">
            <p>Sushi</p>
        </li>
        <li class="body-block__item" >
            <img src="../../../../assets/images/burger.jpg">
            <p>Burger</p>
        </li>
    </ul>
</div>
<div class="footer-block">
    <p> and much more food to choose </p>
    <button> CHECK THE LIST! </button>
</div>