<app-header title='CART'></app-header>

<main class="content">
    <section>
        <div *ngIf='loading'>
            <p> Loading... </p>
            <app-spinner></app-spinner>
        </div>
        <div *ngIf='!loading'>
            <form (ngSubmit)="onSubmit()" #arrayOrdersForm="ngForm">
                <app-orders-list [orderItemsArray]="orderItemsArray"></app-orders-list>
                <hr class="separator-horizontal">
                <app-pre-booking [preBookingOrder]="preBooking"></app-pre-booking>
                <button type="submit">
                    <p>UPDATE CART</p>
                </button>
            </form>
        </div>
    </section>
</main>