.main-header{
    margin: 0px;
    width: 100%;
    height: auto;
    position: fixed;
    background: white;
}

.main-header > div {
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
}

.main-nav__item > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.main-nav__item > a:active{
    color: white;
}
div > a {
    font-family: 'Rouge Script', cursive;
    font-size: 50px;
    width : 150px;
    font-weight: bold;
}
li{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    display: inline-block;
    padding: 5px 20px;
    border-left: 5x;
    vertical-align: middle;
}

.main-nav{
    text-align: right;
    padding-right: 100px;
    display: inline-block;
    width: calc(100% - 400px);
    vertical-align: middle;
}

li:active,
li:hover{
    border-radius: 7px;
    box-shadow: 0px 0px 10px 3px;
}

li:active{
   background: black;
}
svg{
    vertical-align: middle;
    margin-left: 10px;
}