.head-block{
    text-align: center;
    padding-top: 100px;
}

.head-block__title{
    font-family: 'Arimo', sans-serif;
    font-size: 300%;
    padding: 6px;
    margin: 0px;
}

.head-block__sub-title{
    font-family: 'Arimo', sans-serif;
    font-size: 109%;
    color: #9a9a9a;
    font-weight: bold;
}