<main class="main-container">
    <div class="order-details">
        <!-- image -->
        <img src="../../../../assets/images/burger.jpg">
        <!-- menu name -->
        <p>"Burger"</p>
        <div class="order-details__client">
            <!-- client -->
            <label class="property">Firstname</label>
            <label class="client-data">"" </label><br>
            <label class="property">LastName</label>
            <label class="client-data">"" </label><br>
            <label class="property">Email</label>
            <label class="client-data">"" </label><br>
            <label class="property">Phone</label>
            <label class="client-data">"" </label><br>
        </div>
        <!-- order -->
        <!-- menu price -->
        <!-- button change status -->
    </div>
</main>