<app-header title='AUTHENTICATE'></app-header>
<div class="authentication-form-block">
    <p> Please set your your identifications </p>
    <form>
        <div class="authentication-form-block__data">
            <input type="text" class="authentication-form-block__data-input" placeholder="Email">
        </div>
        <div class="authentication-form-block__data">
            <input type="password" class="authentication-form-block__data-input" placeholder="Password">
        </div>
        <div class="authentication-form-block__submition">
            <a href='/signup'> You don't have an account? </a>
            <button type="submit"> Login </button>
        </div>
    </form>
</div>