.container{
    padding: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.container-success{
    background: #025c0079;
    color: white;
}

.container-failed{
    background: rgba(255, 204, 0, 0.459);
    color: black;
}

.container-warning > svg{
    width: 50px;
}

.container-warning{
    display: inline-block;
    vertical-align: middle;
}

.container p{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}