<div class="intro-block">
    <app-intro-block></app-intro-block>
</div>
<div class="describe-block" >
    <app-description-block></app-description-block>
</div>
<div class="steps-block">
    <app-steps></app-steps>
</div>
<div class="atvantages-block">
    <app-avantages-block></app-avantages-block>
</div>
<div class="popular-block">
    <app-popular-block></app-popular-block>
</div>
<div class="categories-block">
    <app-view-categories class="categories-block__content"></app-view-categories>
</div>
<div class="email-block">
    <app-email-block></app-email-block>
</div>